/*------------Navbar settings-------------*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  
  .nav * {
    display: inline-block;
    font-size: 17px;
    margin: 5px;
  }
  
  .nav input {
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    border: 0px;
    padding: 4px 8px;
    width: 250px;
  }
  
  /*------------Image Grid settings-------------*/
  .images-container {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 320px;
  }
  
  .image-box {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    position: relative;
    z-index: 0;
    height: 130px;
    max-width: 200px;
    overflow: hidden;
  }
  
  .thumbnails {
    height: 100%;
    padding: 0;
    object-fit: cover;
  }
  
  .thumbnails:hover {
    cursor: pointer;
  }

  .button {
    padding: 5px 15px;
    font-size: 17px;
    display: block;
    margin: 5px auto;
    margin-bottom: 30px;
    background-color: rgba(96, 191, 161, 0.8);
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }

  .button:hover {
    background-color: rgba(96, 191, 161, 1);
  }
  
  /*------------Lightbox settings-------------*/
  .lightbox-container {
    position: fixed;
    top: 20px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(37, 39, 43, 0.6);
    display: flex;
    z-index: 1;
    justify-content: center;
  }
  
  .lightbox {
    display: inline-block;
    background-color: rgb(20, 21, 26);
    box-shadow: 0 6px 60px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: auto;
    width: 50%;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 4;
    padding: 20px;
  }
  
  .exit,
  .switch-photo {
    margin: -5px;
    margin-bottom: 15px;
    height: 24px;
    width: 24px;
    position: relative;
  }
  
  .exit {
    float: right;
    font-size: 15px;
  }
  
  .switch-photo {
    margin-right: 12px;
    font-weight: 800px;
    font-size: 20px;
    line-height: 24px;
  }
  
  .switch-photo:focus,
  .exit:focus {
    outline: none;
  }
  
  .disabled {
    background-color: rgba(231, 231, 231, 0.3);
  }
  
  .disabled:hover {
    background-color: rgba(231, 231, 231, 0.3);
    cursor: auto;
  }
  
  .previous {
    padding-left: 3px;
  }
  
  .next {
    padding-right: 3px;
  }
  
  .bigImageContainer {
    overflow: hidden;
    position: relative;
    height: 305px;
  }
  
  .bigImage {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    max-height: 306px;
    max-width: 100%;
    background-color: white;
  }
  
  .image-selection {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    background-color: rgb(20, 21, 26);
    display: flex;
    justify-content: center;
  }
  
  .choose-image {
    padding: 4px 8px;
    margin: 20px 10px 30px 10px;
    font-size: 16px;
  }
  
  @media only screen and (max-width: 590px) {
    .choose-image {
      font-size: 12px;
    }

    .exit,
    .switch-photo {
      color:rgb(231, 231, 231);
      background-color: rgb(20, 21, 26);
      box-shadow: none;
    }

    .disabled {
      color: rgba(231, 231, 231, 0.5);
    }
  }